extends layout

block content  
        .panel.panel-default
            .panel-heading SUBSCRIPTION MANAGEMENT TAGS
            .panel-body    
                if sm
                    table.table.table-hover
                        thead
                            tr
                                th Tag Name
                                th Tag Value
                        tbody
                            each val, index in sm
                                tr
                                    td= index 
                                    td= val      
        .panel.panel-default
            .panel-heading SUBSCRIPTION TRAFFIC TAGS
            .panel-body   
                table.table.table-hover
                    thead
                        tr
                            th Tag Name
                            th Tag Value
                    tbody
                        each val, index in st
                            tr
                                td= index 
                                td= val 
        .panel.panel-default
            .panel-heading GPRS CONSUMPTION TAGS
            .panel-body 
                table.table.table-hover
                    thead
                        tr
                            th Tag Name
                            th Tag Value
                    tbody    
                        each val, index in gprs
                            tr
                                td= index 
                                td= val 
        .panel.panel-default
            .panel-heading LAST LOCATION UPDATE TAGS
            .panel-body 
                table.table.table-hover
                    thead
                        tr
                            th Tag Name
                            th Tag Value
                    tbody
                        each val, index in lastLu
                            tr
                                td= index 
                                td= val          
        .panel.panel-default
            .panel-heading
            .panel-body   
                form(action='/tags', method='GET')
                    fieldset
                        .form-group.row
                        .col-xs-2
                            button.btn.btn-primary(type='submit') Return                 